# Create dataframes

In [ ]:
import pandas as pd

## Location

In [7]:
#Data frame to store the locations

loc_df = pd.DataFrame({'id':['01', 'M01'], 'Name':['Nada', 'West End'], 'lat':[49.2638, 49.2828], 'lon':[-123.0895, -123.1302], 'shop':[1, 0]})

In [8]:
loc_df.to_csv('data/loc.csv')

In [9]:
[loc_df["lat"][i] for i in range(loc_df.shape[0])]

[49.2638, 49.2828]

In [10]:
[name for name in loc_df['Name']]

['Nada', 'West End']